.block--slider {
    .two-side__content & {
        //grid-area: 1 / 1 / 2 / 7;
        grid-column: 1 / span 7;
    }
}

.slider {
    container-type: inline-size;
    position: relative;
    width: calc(100% + #{$gutter});

    // &:after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     width: 200px;
    //     height: 100%;
    //     background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    // }

    @media screen and (min-width: $lg + 1){
        width: calc(100% + #{$gutter * 2});
    }
}

.slide {
    position: relative;
    width: calc(100% / 1.25);
    border-radius: 20px;
    margin-right: $gutter;
    min-height: min-content;
    //padding-top: 50%;

    @supports (aspect-ratio: 1/1.5) {
        padding-top: unset;
        aspect-ratio: 1/1.5;
    }

    @supports not (aspect-ratio: 1/1.5) {
        padding-top: 50%;
    }

    // &:last-child {
    //     margin-right: $gutter*2;
    // }

    &--number {
        background-color: $white;
        color: $black;
    }

    &--warning {
        background-color: $red;
    }

    p {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:only-child {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @container (min-width: 900px) {
        width: calc((100% / 3) - 30px);
    }

    @container (min-width: 600px) {
        width: calc((100% / 2.5));
        margin-right: $gutter*2;
    }
}

.slide--empty {
    //width: calc((100% / 3) + 20px);
    width: calc((100% / 3) - 20px);
    aspect-ratio: unset;
    height: 200px;
    display: none;
    //background-color: red;

    @container (min-width: 600px) {
        display: block;
    }
}

.slide__in {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $gutter*2;

}

.slide--number__number {
    --wght: 500;
    --wdth: 0;
    @include fs-3xl;
    font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "ital" 0;

}

.slide--number__text {
    @include fs-lg;

    p {
        font-size: inherit;
    }
}



.slide--just-text {
    @include fs-xl;

    p {
        font-size: inherit;
    }
}

.slide--dont__icon {
    position: relative;
    width: calc(100% - 125px);
    background-color: $white;
    margin-bottom: $gutter*2;
}

.slide--dont__line {
    display: block;
    width: 100%;
    height: 100%;

    rect {
        fill: $white;
    }

    path {
        fill: $red;
    }
}

// .slide--dont__text {

// }

.slide--dont__picto {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        width: 70%;
    }

}