@font-face {
  font-family: "Baikal";
  src: url("../fonts/baikal.ttf") format("truetype-variations");
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    --current-bg-color: $black;
    --current-txt-color: $white;
    font-family: "Baikal";
    // font-family: $font--primary;
    background-color: $black;
    background-color: var(--current-bg-color, $black);
    color: $white;
    color: var(--current-txt-color, $white);
    @include transition;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

p {
    @include fs-md;

    .big-p & {
        @include fs-lg;
    }
}

