.main {
    padding: 0 $gutter;
    
    @media screen and (min-width: $lg + 1){
        padding: 0 $gutter*2;
    }

    &--top-padding {
        padding-top: 25vh;
    }

    &--no-padding {
        padding: 0;
    }
}

.main--agenda {
    padding-bottom: $gutter*3;
}