.section {
    // --section-color: $white;
    // --section--bg-color: $black;
    color: var(--section-color, $white);
    background-color: var(--section-bg-color, $purple);
    padding: $gutter*5 $gutter*2 $gutter*10;
}

.section--highlights {
    // color: var(--section-color);
    // background: var(--section-bg-color);
}

.section__title {
    @include fs-xl;
    margin-bottom: $gutter*5;
}